
.hero img{
    width:100%;
    height:450px;
    object-fit:cover;
}

.article-container{
    max-width:1400px;
    margin:40px auto;
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:40px;
    padding:20px;
}

.article{
    background:#fff;
    padding:40px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.category{
    background:#e63946;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
}

.article h1{
    margin:20px 0;
    font-size:42px;
}

.article-info{
    display:flex;
    align-items:center;
    gap:15px;
    margin:25px 0;
}

.author-img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.article p{
    line-height:1.9;
    margin:25px 0;
    font-size:18px;
}

.lead{
    font-size:22px;
    font-weight:500;
}

.article-image{
    width:100%;
    border-radius:12px;
    margin:30px 0;
}

blockquote{
    margin:40px;
    padding:30px;
    border-left:6px solid crimson;
    background:#f8f8f8;
    font-size:22px;
    font-style:italic;
}

.tags{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-top:40px;
}

.tags span{
    background:#ddd;
    padding:8px 18px;
    border-radius:30px;
}

.sidebar{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.widget{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.widget h2{
    margin-bottom:20px;
}

.story{
    display:flex;
    gap:15px;
    margin-bottom:20px;
    cursor:pointer;
}

.story img{
    width:100px;
    height:70px;
    object-fit:cover;
    border-radius:8px;
}

.widget img{
    width:100%;
    border-radius:10px;
}

.related{
    max-width:1400px;
    margin:60px auto;
    padding:20px;
}

.related h2{
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:20px;
}

@media(max-width:900px){

.article-container{
    grid-template-columns:1fr;
}

.cards{
    grid-template-columns:1fr;
}

.hero img{
    height:250px;
}

.article h1{
    font-size:30px;
}

}